@page
@model WebAlexeev90321.Areas.ApiDemo.Pages.IndexModel
@{
}
<table class="table table-striped table-sm" id="list">
</table>
<div class="lead" id="info"></div>

@section Scripts
{
    <script>
    // получить Url к api/RadioComponents
    var url="@Url.Action("GetRadioComponents", "RadioComponents")";
    $(document).ready(function ()
    {
        // Получить список объектов (послать запрос)
        $.getJSON(url, function (data)
        {
            // найти таблицу по id
            var table = $("#list");
            // Для каждого элемента списка
            $.each(data, function (num, value)
            {
                // создать строку таблицы и добавить ее в таблицу
                createRow(num + 1, value).appendTo(table);
            });
        })
    });
    // Функция формирования одной строки таблицы
    // index - порядковый номер
    // data - объект данных
    function createRow(index, data)
    {
        // создать строку таблицы var row = $("<tr>");
        var row = $("<tr>");
        // добавть колонку с порядковым номером row.append("<td>" + index + "</td>");
        row.append("<td>" + index + "</td>");
        // добавить колонку с названием  row.append("<td>" + data.dishName + "</td>");
        row.append("<td>" + data.radioComponentName + "</td>");
        // создать кнопку
        var button = $("<button>") // var button = $("<button>")
        .addClass("btn btn-default") // стиль кнопки
            .click(data.radioComponentId, showDetails) // подписка на событие click
        .text("Подробно"); // надпись
        // создать колонку с кнопкой
        var td = $("<td>").append(button);
        // добавить в строку таблицы
        row.append(td);
        return row;
    }
    //Функция выода информации о выбранном объекте
    function showDetails(e)
    {
        // Послать запрос
        $.getJSON(url + "/" + e.data, function (data)
        {
        // строка информации об объекте
            var details = data.radioComponentName + " - " + data.description +  ", цена =  " + data.price + " рублей";
        $("#info") // Найти блок для информации
        .empty() // очистить содержимое
        .text(details); // записать новый текст
        })
    }
    </script>
}

