@page
@model WebAlexeev90321.Areas.Admin.Pages.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>RadioComponent</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RadioComponent.RadioComponentName" class="control-label"></label>
                <input asp-for="RadioComponent.RadioComponentName" class="form-control" />
                <span asp-validation-for="RadioComponent.RadioComponentName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RadioComponent.Description" class="control-label"></label>
                <input asp-for="RadioComponent.Description" class="form-control" />
                <span asp-validation-for="RadioComponent.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RadioComponent.Price" class="control-label"></label>
                <input asp-for="RadioComponent.Price" class="form-control" />
                <span asp-validation-for="RadioComponent.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RadioComponent.Image" class="control-label"></label>
                <input asp-for="RadioComponent.Image" class="form-control" />
                <span asp-validation-for="RadioComponent.Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RadioComponent.RadioComponentGroupId" class="control-label"></label>
                <select asp-for="RadioComponent.RadioComponentGroupId" class ="form-control" asp-items="ViewBag.RadioComponentGroupId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

