@using WebAlexeev90321.Blazor.Data
<h3>RadioComponentsList</h3>

@if (RadioComponents == null)
{
    <p>Загрузка ...</p>
}
else
{
    <div class="list-group">
        @{
            var i = 1;
            foreach (var dish in RadioComponents)
            {
                <button type="button" class="list-group-item list-group-item-action">
                    @(i++) - @dish.RadioComponentName
                </button>
            }
        }
    </div>
}
@code {
    [Parameter]
    public IEnumerable<RadioComponentListViewModel> RadioComponents { get; set; }
    [Parameter]
    public EventCallback<IEnumerable<RadioComponentListViewModel>> RadioComponentsChanged { get; set; }
}
